@using TrainingIoT.RemoteControl.App.Domain
@using TrainingIoT.RemoteControl.App.Models
@model TrainingIoT.RemoteControl.App.Models.DeviceDetailModel
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Device ID</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.DeviceId</p>
        </div>
    </div>
    @foreach (var feature in Model.Features)
    {
        if (feature.Type == FeatureType.Switch)
        {
            @Html.Partial("SwitchFeature", feature)
        }
        else if (feature.Type == FeatureType.Led)
        {
            @Html.Partial("LedFeature", feature)
        }
        else if (feature.Type == FeatureType.TemperatureSensor)
        {
            @Html.Partial("TemperatureSensorFeature", (TemperatureSensorFeatureModel) feature)
        }
        else if (feature.Type == FeatureType.HumiditySensor)
        {
            @Html.Partial("HumiditySensorFeature", (HumiditySensorFeatureModel) feature)
        }
    }
</form>







